<section class="about-me-container">
    @if (user()) {
    <div class="profile">
        <img [src]="user()?.image || 'assets/placeholder.jpg'" alt="{{user()?.name}}" class="profile-img">
        <h2>{{ user()?.name }}</h2>
        <h3>{{ user()?.profession }}</h3>
        <p class="bio">{{ user()?.bio }}</p>

        <div class="social-links" *ngIf="user()?.socialLinks as social">
            <a *ngIf="social.github" [href]="social.github" target="_blank">GitHub</a>
            <a *ngIf="social.linkedin" [href]="social.linkedin" target="_blank">LinkedIn</a>
            <a *ngIf="social.twitter" [href]="social.twitter" target="_blank">Twitter</a>
        </div>
    </div>
    } @else {
    <p>Loading profile...</p>
    }
</section>