<main class="content-container">
    <app-header></app-header>

    <section id="about-me" class="scroll-section reveal">
        <app-about-me></app-about-me>
    </section>

    <section id="projects" class="scroll-section reveal">
        <app-projects (openProject)="handleOpenProject($event)"></app-projects>
    </section>

    <section id="skills" class="scroll-section reveal">
        <app-skills></app-skills>
    </section>

    <section id="contact" class="scroll-section reveal">
        <app-contact></app-contact>
    </section>
</main>

<app-footer></app-footer>

<app-project-modal [project]="selectedProject()" [isOpen]="isModalOpen()" (closeModal)="closeModal()">
</app-project-modal>